@keyframes opacity-change {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 0.5;
    }
}

@keyframes bg-change {
    0% { background-position: 10% 0%; }
    50% { background-position: 91% 100%; }
    100% { background-position: 10% 0%; }
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #202020;
    color: #f8f8f8;
    text-shadow: 2px 0px 10px rgba(200, 200, 200, 0.8) ;
    font-family: Verdana, serif;
}

html { height: 100%; }
body { min-height: 100%; }

#plan_content {
    height: 100vh;
    display: grid;
    background: linear-gradient(to bottom right, #402020, #204020, #202040);
    background-size: 200% 200%;
    animation: 10s linear 0s infinite alternate bg-change;
}

#plan_content article {
    border: 1px solid #f8f8f8;
}

#plan_content article h2 {
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
    text-align: right;
    padding-right: 2vw;
}

#plan_content article p {
    font-size: 1rem;
    font-weight: bolder;
    text-align: left;
    padding-left: 2vw;
}

#plan_content article.activitytype-empty {
    background: repeating-linear-gradient(-45deg, rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3) 10px, rgba(50, 50, 50, 0.3) 20px, rgba(50, 50, 50, 0.3) 20px);
    animation: 5s linear 0s infinite alternate opacity-change;
}
